@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=PT+Serif&display=swap');


body {
  margin: 0;
  font-family: 'Merriweather', serif;
font-family: 'PT Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color: white;
}
.col-md-4 a{
  text-decoration: none;
  color: black;
}
.newsContent{
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.newsContent:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}


